.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(218, 216, 216);
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.center-patch{
    display: flex;
    flex-direction: column;
    background-color: rgb(78, 77, 77);
    align-items: center;
    width: 400px;
    padding: 5rem 0rem;
    border: none;
    gap: 10px;
    box-shadow: 12px 0 15px -4px rgba(255,255,255,0.4), -12px 0 8px -4px rgba(255,255,255,0.3);
}
.input-field{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1rem;
}
.sub-btn{
    width: 140px;
    align-self: center;
    padding: 0.4rem 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
    background-color: rgb(199, 118, 70);
    color: white;
}
.sub-btn:hover{
    transform: scale(1.02);
}
.signup-link{
    color: rgb(199, 118, 70);
    font-size: 0.8rem;

}